

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
|<div class="row">
  <div class="col-md-3">
    <button routerLink="home">Go to home</button>
  </div>
  <div class="col-md-3">
    <h2 routerLink="role">Go to Role</h2>
  </div>
  <div class="col-md-3">
    <h2 routerLink="user">Go to User</h2>
  </div>
  <div class="col-md-3">
    <h2 routerLink="user/7">Go to User 7 detail</h2>
  </div>
</div>
<router-outlet></router-outlet>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<button igxButton="flat">flat</button>
<button>kaydet</button>